html 
    head 
        title Home Page 
        link(rel = " stylesheet" , href = '/style.css')
    body 
        include ../partials/homeHeader
        h1#homepage Open Gallery
        div#homecontainer
            button
                a(href="/login") LOGIN
            button 
                a(href="/createaccount") CREAT NEW ACCOUNT

        script(src='client.js')
        include ../partials/footer