html 
    head 
        title Account Page 
        link(rel="stylesheet", href="/style.css")
    body 
        include ../partials/patronHeader
        div#search
            form(action="/search" method="get")
                input(type="text" name="query" placeholder="Search artworks...")
                button(type="submit") Search
        div#account-container
            div#left-side-account
                h1#followed Followed Artists 
                ul#followed-artists
                    each artist in followedArtists
                        li= artist.name
            div#right-side-account 
                include ../partials/artworkPage
        script(src='client.js')
        include ../partials/footer